body{
    max-width: 1140px;
    background-color: azure;
    margin: 0 auto
}
.card-section{
    text-align: center;
}
.card-container{
    display:flex;
    gap: 40px;
    flex-wrap: wrap;
}
.card{
    text-align: left;
    width: 300px;
    border: 1px solid rgba(100, 100, 100, 0.185);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(175, 175, 175, 0.603)
}

.card:hover{
    background-color: rgba(169, 228, 255, 0.205);
}

.card img{
    width: 100%;
    border-radius: 100%
    
}
img:hover{
    opacity: 90%
    
}
.card h3{
    font-size: 25px;
    font-weight: 700;
}
button{
    
    background-color: azure;
    padding: 10px;
    border-radius: 50px;
    border-width: 1px;
    cursor: pointer;
    
}
button:hover{
    background-color: burlywood;
    border-color: burlywood;
}